$harmonix-primary: #212121;

$harmonix-primary-light: #eee4f1;
$harmonix-primary-dark: #641877;

$harmonix-success: #4caf50;
$harmonix-error: #e53935;

$harmonix-bg: #faf7f9;
$harmonix-surface: #ffffff;

$text-primary: #2b1b24;
$text-secondary: #6e4a5d;
