<div class="layout">

  <aside class="sidenav" [class.collapsed]="!menuExpanded()">
    <div class="sidenav-header">
      <button
        mat-icon-button
        (click)="toggleMenu()"
        aria-label="Toggle menu"
      >
        <mat-icon>{{ menuExpanded() ? 'menu_open' : 'menu' }}</mat-icon>
      </button>
      <span class="brand">Harmonix</span>
    </div>

    <mat-nav-list>
      @for (item of menuItems; track item.path) {
        <mat-list-item
          class="menu-item"
          (click)="navigateTo(item.path)"
          [class.active]="isActive(item.path)"
          [matTooltip]="item.label"
          matTooltipPosition="right"
          [matTooltipDisabled]="menuExpanded()"
          [matTooltipShowDelay]="100"
          [matTooltipHideDelay]="100"
        >
          <mat-icon matListItemIcon class="icon-filled">{{ item.icon }}</mat-icon>
          <span class="label">{{ item.label }}</span>
        </mat-list-item>
      }
    </mat-nav-list>
  </aside>

  <div class="main">
    <router-outlet></router-outlet>
  </div>

</div>
