@use './styles/reset';
@use './styles/tokens';
@use './styles/theme';

body {
  font-family: Roboto, Arial, sans-serif;
  background-color: var(--mat-sys-background);
  color: var(--mat-sys-on-background);
}

//estilo do paginator aberto (datatable)
.cdk-overlay-pane {
  .mat-mdc-select-panel {
    background: var(--mat-sys-surface);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    
    .mat-mdc-option {
      min-height: 27px !important;
    }
  }
}
